* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#heading {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
    color: #c65151;
}

#formDiv {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

label {
    font-size: 1.8rem;
}

#formDiv input {
    width: 25rem;
    padding: 0.5rem;
    margin: 1rem;
}

#formDiv button {
    color: white;
    width: 25rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0.8rem;
    border-radius: 2rem;
    background: #00b9ff;
    border: none;
    outline: none;
    cursor: pointer;
}

.floor {
    border: 2px solid #3a6235;
    background: #CED4CA;
    height: 16rem;
    display: flex;
    justify-content: space-between;
    /* max-width: max-content; */
    z-index: 1;
}

.floorInfo {
    /* border: 2px solid rgb(91, 143, 255); */
    background: #3a6235;
    height: 16rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.floor p {
    /* margin: 0.5rem; */
    font-size: 2rem;
    color: white;
}

.lifts {
    height: 100%;
    width: 8rem;
    border: 2px solid black;
    overflow: hidden;
    z-index: 5;
}

.liftDoor {
    border: 2px solid rgb(83, 83, 83);
    height: 100%;
    width: 50%;
    background-color: grey;
    display: inline-block;
}

.up_btn,
.down_btn {
    width: 4rem;
    height: 4rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin: 1rem;
    background: #ffffff;
    cursor: pointer;
    border: 2px solid white;
}

.up_btn:hover,
.down_btn:hover {
    color: white;
    background: #3a6235;
    border: 2px solid white;
}

@media screen and (max-width: 480px) {
    label {
        font-size: 1.5rem;
    }

    .floorInfo {
        height: 12rem;
        width: 7rem;
    }

    .up_btn,
    .down_btn {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
    }

    .floor {
        height: 12rem;
        /* overflow-x: auto; */
        /*white-space: nowrap;
        width: 400px; */
    }

    .floor p {
        font-size: 1.3rem;
    }

    .lifts {
        height: 100%;
        width: 6rem;
        flex-shrink: 0;
        display: inline-block;
        margin-left: 10px;
        /* z-index: 5; */
    }
}